<footer >
    <div class="footer">
    <div class=" f-icons">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    

    <div class = "f-info">
       &copy; Wanderlust private Limited
        <br> <br>

        <div class="links">
        <a href="/privacy"> Privacy </a>
        
        <a href="/terms">  Terms</a>
    </div>
    </div>
</div>
</footer>