<% layout("/layouts/boilerplate")%>


<body>

    <div class="row">
        <div class="col-8 offset-2 " >


            <h3> <b> signup wanderlust </b></h3>


            <br> <br>
    <form action ="/signup" method = "POST"   class="needs-validation" novalidate>

        <div>
<label for ="email" class="form-label">Email:</label>
<input type ="text" id ="email" name ="email" class="form-control" required>
<div class="valid-feedback">
    Looks good!
  </div>

</div>




<div>
    <label for ="username" class="form-label">Username:</label>
    <input type ="text" id ="username" name ="username"  class="form-control"  required>
   
    </div>





    <div>
        <label for ="password" class="form-label">password:</label>
        <input type ="password" id ="password" name ="password" class="form-control" required>
       
        
        </div>

        <br> <br>


        <button class = "btn btn-success"> signup </button>

    </form>





    </div>
    </div>
</body>